<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<head>
    <title>Encryptor</title>
</head>

<body>
<div class="container">

    <div>
        <span>Put content of export.sql here</span>
    </div>

    <!-- Input-output fields, Run button -->
    <div>
        <form method="POST" action="/1060">
            <textarea name="inputField" class="form-control" rows="17" style="width: 60%" id="*{inputField}">[[${inputField}]]</textarea>
            <button type="submit" class="btn btn-success p=1">Run!</button>
            <textarea name="outputField" class="form-control" rows="17" style="width: 60%">[[${outputField}]]</textarea>
        </form>

    </div>

    <!-- /.container -->
</div>
</body>


<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>
