<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<head>
    <title>Newsletter parser</title>
</head>

<body>
<div class="container">
    <!-- Legend -->
    <div>
        <span>h==Header / p==Paragraph / s==Separator</span>
    </div>
    <div>
        <span>ls==List Start / ll==List / le==List End</span>
    </div>
    <div>
        <span>fl==Photo Left / fr==Photo Right</span>
    </div>
    <div>
        <span>r==Reporter / sign==Signature</span>
    </div>
    <!-- Input field -->
    <div>
        <form method="POST" action="/" >
            <textarea name="inputField" class="form-control" rows="17" style="width: 60%" id="*{inputField}">[[${inputField}]]</textarea>
            <button type="submit" class="btn btn-success p=1">Run</button>
            <textarea name="outputField" class="form-control" rows="17" style="width: 60%">[[${outputField}]]</textarea>
        </form>

    <!-- Run button -->
    <!-- Output field -- >
    <!-- Clear all -->
    <div>
        <a type="button" href="/clear-all" class="btn btn-warning"/>Clear all</a>
    </div>
</div>
<!-- /.container -->
</body>


<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>
